<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536927021336-v24dk4iqea63k6pmasdpmb3mh3at90b2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536927021336-v24dk4iqea63k6pmasdpmb3mh3at90b2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>536927021336-0lgn3rjdqh8m4i18ql7366uua18vd6kv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDiM2znY6fFzdXCP68X7LyUkuqPxouMYxE</string>
	<key>GCM_SENDER_ID</key>
	<string>536927021336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>www.barq.news</string>
	<key>PROJECT_ID</key>
	<string>barq-dd2ee</string>
	<key>STORAGE_BUCKET</key>
	<string>barq-dd2ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536927021336:ios:851ab2234b9046f2</string>
	<key>DATABASE_URL</key>
	<string>https://barq-dd2ee.firebaseio.com</string>
</dict>
</plist>